accelerate
bitsandbytes
datasets
deepspeed
flash-attn
hf_transfer
huggingface-hub
huggingface_hub[hf_transfer]
numpy
nvitop
pandas
peft
pip
tokenizers
tqdm
transformers
trl
wandb
tensorboardX
nvitop
trl[vllm]